examples/intertechno.js
[{"id":"7565838e.722934","type":"inject","z":"86d0c578.69d0b8","name":"1 off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"off\", \"unit\": 1}","payloadType":"json","x":210,"y":180,"wires":[["109cebf4.b6c90c"]]},{"id":"109cebf4.b6c90c","type":"rcsocket","z":"86d0c578.69d0b8","name":"Emylo","server":"65e4ed3f.2e05c4","datatype":"ittristate","house":"A","group":"1","unit":"1","channel":"","code":"","rcid":"","key":"","command":"on","dips":[false,false,false,false,false],"x":350,"y":140,"wires":[[]]},{"id":"e839a8e2.157b7","type":"inject","z":"86d0c578.69d0b8","name":"1 on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"on\", \"unit\": 1}","payloadType":"json","x":210,"y":140,"wires":[["109cebf4.b6c90c"]]},{"id":"553dcb7d.57b854","type":"inject","z":"86d0c578.69d0b8","name":"2 off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"off\", \"unit\": 2}","payloadType":"json","x":210,"y":260,"wires":[["109cebf4.b6c90c"]]},{"id":"8f2ed123.1e35d8","type":"inject","z":"86d0c578.69d0b8","name":"2 on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"on\", \"unit\": 2}","payloadType":"json","x":210,"y":220,"wires":[["109cebf4.b6c90c"]]},{"id":"dd2ce87c.aca1e","type":"inject","z":"86d0c578.69d0b8","name":"3 off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"off\", \"unit\": 3}","payloadType":"json","x":210,"y":340,"wires":[["109cebf4.b6c90c"]]},{"id":"bc43585b.c86fa","type":"inject","z":"86d0c578.69d0b8","name":"3 on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"on\", \"unit\": 3}","payloadType":"json","x":210,"y":300,"wires":[["109cebf4.b6c90c"]]},{"id":"1af54b83.eefe84","type":"inject","z":"86d0c578.69d0b8","name":"4 off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"off\", \"unit\": 4}","payloadType":"json","x":210,"y":420,"wires":[["109cebf4.b6c90c"]]},{"id":"ac340ba8.c3b538","type":"inject","z":"86d0c578.69d0b8","name":"4 on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"on\", \"unit\": 4}","payloadType":"json","x":210,"y":380,"wires":[["109cebf4.b6c90c"]]},{"id":"65e4ed3f.2e05c4","type":"rfmserver","host":"localhost","port":"1989"}]